---
title: View Tool
listed: true
published: true
content_type: tools
---
{% extends parent %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted purple segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/tools" class="section">Tools</a>
    <div class="divider"> / </div>
    <span class="active section">{{ page.title | escape }}</span>
  </div>
</div>
{% endblock %}

{% block 'body/main' %}
<!-- tool -->

<div class="ui purple segment">
  <div class="ui divided items">
    <div class="item">
      <div class="content">
        <a href="/tools/{{ tool._slug }}" class="header"><h3>{{ tool.name | escape }}</h3></a>
        <div class="meta">{% if tool.posts.size > 0 %}
          <span class="post-count"><i class="newspaper icon"></i> {{ tool.posts.size }} post{% if tool.posts.size != 1 %}s{% endif %}</span>{% endif %}{% if tool.tutorials.size > 0 %}
          <span class="tutorial-count"><i class="book icon"></i> {{ tool.tutorials.size }} tutorial{% if tool.tutorials.size != 1 %}s{% endif %}</span>{% endif %}{% if tool.projects.size > 0 %}
          <span class="project-count"><i class="lab icon"></i> {{ tool.projects.size }} project{% if tool.projects.size != 1 %}s{% endif %}</span>{% endif %}{% if tool.authors.size > 0 %}
          <span class="dev-count"><i class="user icon"></i> {{ tool.authors.size }} dev{% if tool.authors.size != 1 %}s{% endif %}</span>{% endif %}
        </div>
        <div class="extra">

<!-- item-list -->

<div class="ui divided very relaxed list">

{% for post in tool.posts %}
{% include 'post_list_subitem' with post %}
{% endfor %}
{% for tutorial in tool.tutorials %}
{% include 'tutorial_list_subitem' with tutorial %}
{% endfor %}
{% for project in tool.projects %}
{% include 'project_list_subitem' with project %}
{% endfor %}
{% for author in tool.authors %}
{% include 'author_list_subitem' with author %}
{% endfor %}

</div>

<!-- /item-list -->

        </div>
      </div>
    </div>
  </div>
</div>

<!-- /tool -->
{% endblock %}
