---
title: Donations
listed: true
published: true
content_type: projects
---
{% extends 'projects/content-type-template' %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted blue segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/projects" class="section">Projects</a>
    <div class="divider"> / </div>
    <a href="/projects/{{ project._slug }}" class="section">{{ project.name | escape }}</a>
    <div class="divider"> / </div>
    <span class="active section">Donations</span>
  </div>
</div>
{% endblock %}

{% block 'header' %}{% if project.icon %}
    <img src="{{ project.icon.url | escape }}" alt="{{ project.name | escape }}" class="project-icon" />{% else %}
    <i class="lab icon"></i>{% endif %}
    <div class="content">
      {{ project.name | escape }}
      <div class="sub header">Donations</div>
    </div>
{% endblock %}

<!-- Pagination of has_many doesn't work with the current LocomotiveCMS.
     See this issue for details: https://github.com/locomotivecms/engine/issues/236 -->
{% block 'body/main/content' %}
<!-- donation-list -->

<div class="ui horizontal statistics">
  <div class="statistic">
    <div class="value">
      <i class="currency icon"></i>
      {{ project.donation_total | money }}
    </div>
    <div class="label">Total</div>
  </div>{% if project.donation_goal %}
  <div class="statistic">
    <div class="value">
      <i class="trophy icon"></i>
      {{ project.donation_goal | money }}
    </div>
    <div class="label">Goal</div>
  </div>{% endif %}
</div>{% if project.donation_goal %}
<div data-percent="0" class="ui basic {% if project.donation_total < project.donation_goal %}blue{% else %}green{% endif %} progress">
  <div class="bar" style="width: {% if project.donation_total < project.donation_goal %}{{ project.donation_total | divided_by: project.donation_goal | times: 100 | percentage }}{% else %}100%{% endif %};">
    <div class="progress">{{ project.donation_total | divided_by: project.donation_goal | times: 100 | percentage: 'precision: 0' }}</div>
  </div>
</div>{% endif %}
<div class="ui comments">
{% with_scope project: project, order_by: 'amount.desc' %}
{% paginate contents.project_donations by 25 %}
{% for donation in paginate.collection %}
{% include 'donation_list_item' with donation %}
{% endfor %}
{% include 'pagination' with paginate, color: 'blue' %}
{% endpaginate %}
{% endwith_scope %}
</div>

<!-- /donation-list -->
{% endblock %}
