---
title: Donations
listed: true
published: true
content_type: projects
---
{% extends 'index' %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted blue segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/projects" class="section">Projects</a>
    <div class="divider"> / </div>
    <a href="/projects/{{ project._slug }}"> {{ project.name | escape }}</a>
    <div class="divider"> / </div>
    <div class="active section">Donations</div>
  </div>
</div>
{% endblock %}

{% block 'header' %}
    <i class="lab icon"></i>
    <div class="content">
      {{ project.name | escape }}
      <div class="sub header">Donations</div>
    </div>
{% endblock %}

<!-- Pagination of has_many doesn't work with the current LocomotiveCMS.
     See this issue for details: https://github.com/locomotivecms/engine/issues/236 -->
{% block 'body/main' %}
<!-- donation-list -->

<div class="ui blue stacked segment">{% if project.donation_goal %}
  <span>Goal: {{ project.donation_goal | money }}</span>{% endif %}
  <span>Total: {{ project.donation_total | money }}</span>{% if project.donation_goal %}
  <div data-percent="0" class="ui basic progress">
    <div class="bar" style="width: {{ project.donation_total | divided_by: project.donation_goal | times: 100 | percentage }};"></div>
  </div>{% endif %}
  <div class="ui comments">
{% with_scope project: project, order_by: 'amount.desc' %}
{% paginate contents.project_donations by 25 %}
{% for donation in paginate.collection %}
{% include 'donation_list_item' with donation %}
{% endfor %}
{% include 'pagination' with paginate, color: 'blue' %}
{% endpaginate %}
{% endwith_scope %}
  </div>
</div>

<!-- /donation-list -->
{% endblock %}
