---
title: Breakdown
listed: true
published: true
content_type: projects
---
{% extends parent %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted blue segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/projects" class="section">Projects</a>
    <div class="divider"> / </div>
    <a href="/projects/{{ project._slug }}" class="section">{{ project.name | escape }}</a>
    <div class="divider"> / </div>
    <span class="active section">Breakdown</span>
  </div>
</div>
{% endblock %}

{% block 'header' %}{% if project.icon %}
    <img src="{{ project.icon | resize: '60x60#' | escape }}" alt="{{ project.name | escape }}" class="project-icon" />{% else %}
    <i class="lab icon"></i>{% endif %}
    <div class="content">
      {{ project.name | escape }}
      <span class="ui horizontal {% case project.phase %}{% when 'Prototype' %}purple{% when 'Alpha' %}green{% when 'Beta'%}teal{% else %}blue{% endcase %} label">{{ project.phase | escape }}</span>
      <div class="sub header">Breakdown</div>
    </div>
{% endblock %}

{% block 'body/main/content' %}
<!-- breakdown -->

<div class="ui divided items">
{% for component in project.components %}
{% include 'component_list_item' with component %}
{% endfor %}
</div>

<!-- /breakdown -->
{% endblock %}
