---
title: Updates
listed: true
published: true
content_type: projects
---
{% extends 'projects/content-type-template' %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted blue segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/projects" class="section">Projects</a>
    <div class="divider"> / </div>
    <a href="/projects/{{ project._slug }}" class="section">{{ project.name | escape }}</a>
    <div class="divider"> / </div>
    <span class="active section">Updates</span>
  </div>
</div>
{% endblock %}

{% block 'header' %}{% if project.icon %}
    <img src="{{ project.icon | resize: '60x60#' | escape }}" alt="{{ project.name | escape }}" class="project-icon" />{% else %}
    <i class="bullhorn icon"></i>{% endif %}
    <div class="content">
      {{ project.name | escape }}
      <span class="ui horizontal {% case project.phase %}{% when 'Prototype' %}purple{% when 'Alpha' %}green{% when 'Beta'%}teal{% else %}blue{% endcase %} label">{{ project.phase | escape }}</span>
      <div class="sub header">Updates</div>
    </div>
{% endblock %}

<!-- Pagination of has_many doesn't work with the current LocomotiveCMS.
     See this issue for details: https://github.com/locomotivecms/engine/issues/236 -->
{% block 'body/main/content' %}
<!-- update-list -->

<div class="ui divided items">
{% with_scope project: project %}
{% paginate contents.project_updates by 10 %}
{% for update in paginate.collection %}
{% include 'update_list_item' with update %}
{% endfor %}
{% include 'pagination' with paginate, color: 'blue' %}
{% endpaginate %}
{% endwith_scope %}
</div>

<!-- /update-list -->
{% endblock %}
