<!-- entry -->

<div class="item">
  <a href="/categories/{{ category._slug }}" class="image" title="{{ category.name | escape }}">{% if category.image %}
    <img src="{{ category.image.url }}" alt="{{ category.name | escape }}" />{% endif %}
  </a>
  <div class="content">
    <a href="/categories/{{ category._slug }}" class="header">{{ category.name | escape }}</a>
    <div class="meta">{% if category.posts.size > 0 %}
      <span class="post-count"><i class="bookmark icon"></i> {{ category.posts.size }} post{% if category.posts.size != 1 %}s{% endif %}</span>{% endif %}{% if category.tutorials.size > 0 %}
      <span class="tutorial-count"><i class="book icon"></i> {{ category.tutorials.size }} tutorial{% if category.tutorials.size != 1 %}s{% endif %}</span>{% endif %}
    </div>
    <div class="description">
      <p>{{ category.brief | escape }}</p>
    </div>

<!-- item-list -->

<div class="ui divided very relaxed list">

{% for post in category.posts reverse %}{% if forloop.index <= 3 %}
{% include 'category_post_list_item' with post %}
{% endif %}{% endfor %}
{% for tutorial in category.tutorials reverse %}{% if forloop.index <= 3 %}
{% include 'category_tutorial_list_item' with tutorial %}
{% endif %}{% endfor %}

</div>

<!-- /tutorial-list -->

  </div>
</div>

<!-- /entry -->
