<!-- entry -->{% if component.state == 'Not Started' or component.progress < 0 %}{% assign progress = 0 %}{% elsif component.state == 'Finished' or component.progress > 100 %}{% assign progress = 100 %}{% else %}{% assign progress = component.progress %}{% endif %}

<div class="item">
  <div class="content">
    <h3>
      {{ component.name | escape }}
      <span class="ui pointing left {% case component.state %}{% when 'Not Started' %}purple{% when 'Designing' %}teal{% when 'In Progress' %}blue{% when 'Finished' %}green{% when 'Reworking' %}orange{% when 'Halted' %}red{% endcase %} label">
        <i class="{% case component.state %}{% when 'Not Started' %}wait{% when 'Designing' %}idea{% when 'In Progress' %}circle notched{% when 'Finished' %}checkmark{% when 'Reworking' %}history{% when 'Halted' %}remove{% endcase %} icon"></i>
        {{ component.state | escape }}
      </span>
    </h3>
    <div class="meta">
      <div data-percent="{{ progress }}" class="ui basic {% case component.state %}{% when 'Not Started' %}purple{% when 'Designing' %}active teal{% when 'In Progress' %}active blue{% when 'Finished' %}green{% when 'Reworking' %}active orange{% when 'Halted' %}red{% endcase %} progress">
        <div class="bar" style="width: {{ progress | percentage }};">
          <div class="progress">{{ progress | percentage: 'precision: 0' }}</div>
        </div>
      </div>
    </div>
    <div class="description">
      <p>{{ component.brief | escape }}</p>
    </div>{% if component.details %}
    <div class="extra">
      {{ component.details | escape }}
    </div>{% endif %}
  </div>
</div>

<!-- /entry -->
