{% for post in contents.posts %}
    <item>
      <title>{{ post.title | escape }}</title>
      <description>{{ post.brief | escape }}</description>
      <link>http://{{ host | escape }}/posts/{{ post._slug }}</link>
      <guid isPermaLink="true">http://{{ host | escape }}/posts/{{ post._slug }}</guid>
      <pubDate>{{ post.created_at | format_date: '%a, %d %b %Y %H:%M:%S %z' }}</pubDate>{% if post.category %}
      <category>{{ post.category.name }}</category>{% endif %}{% if post.allow_comments %}
      <comments>http://{{ host | escape }}/posts/{{ post._slug }}#comments</comments>{% endif %}
    </item>
{% endfor %}
