{% for project in contents.projects %}
    <item>
      <title>{{ project.name | escape }}</title>
      <description>{{ project.brief | escape }}</description>
      <link>http://{{ host | escape }}/projects/{{ project._slug }}</link>
      <guid isPermaLink="true">http://{{ host | escape }}/projects/{{ project._slug }}</guid>
      <pubDate>{{ project.created_at | format_date: '%a, %d %b %Y %H:%M:%S %z' }}</pubDate>{% if project.allow_comments %}
      <comments>http://{{ host | escape }}/projects/{{ project._slug }}#comments</comments>{% endif %}
    </item>
{% endfor %}
