<!-- entry -->

<div class="{% if project.featured %}featured {% endif %}item">{% if project.featured %}
  <span class="ui blue ribbon label">Featured</span>{% endif %}
  <a href="/projects/{{ project._slug }}" class="image" title="{{ project.name | escape }}">{% if project.icon %}
    <img src="{{ project.icon | resize: '175x175#' | escape }}" alt="{{ project.name | escape }}" />{% endif %}
  </a>
  <div class="content">
    <a href="/projects/{{ project._slug }}" class="header"><h3>{{ project.name | escape }}</h3></a>
    <div class="meta">
      <span class="ui horizontal {% case project.phase %}{% when 'Prototype' %}purple{% when 'Alpha' %}green{% when 'Beta'%}teal{% else %}blue{% endcase %} label">{{ project.phase | escape }}</span>
      <span class="date"><i class="wait icon"></i> {{ project.created_at | localized_date: '%A, %B %d, %Y' | escape }}</span>{% if project.updates.size > 0 %}
      <a href="/projects/updates/{{ project._slug }}"><i class="bullhorn icon"></i> <span class="update-count">{{ project.updates.size }} update{% if project.updates.size != 1 %}s{% endif %}</span></a>{% endif %}
    </div>
    <div class="description">
      <p>{{ project.brief | escape }}</p>
    </div>
    <div class="extra">
{% include 'tags_list' with tags: project.tags, tools: project.tools %}

<!-- updates -->

<div class="ui divided very relaxed list">
{% for update in project.updates reverse %}{% if forloop.index <= 3 %}
{% include 'update_list_subitem' with update %}
{% endif %}{% endfor %}
</div>

<!-- /updates -->

    </div>
  </div>
</div>

<!-- /entry -->
