{% with_scope tags: tag %}
<!-- tag -->

<div class="ui orange segment">
  <div class="ui divided items">
    <div class="item">
      <h3>{{ tag | escape }}</h3>
      <div class="meta">{% if contents.posts.size > 0 %}
        <span class="post-count"><i class="bookmark icon"></i> {{ contents.posts.size }} post{% if contents.posts.size != 1 %}s{% endif %}</span>{% endif %}{% if contents.tutorials.size > 0 %}
        <span class="tutorial-count"><i class="book icon"></i> {{ contents.tutorials.size }} tutorial{% if contents.tutorials.size != 1 %}s{% endif %}</span>{% endif %}{% if contents.projects.size > 0 %}
        <span class="project-count"><i class="lab icon"></i> {{ contents.projects.size }} project{% if contents.projects.size != 1 %}s{% endif %}</span>{% endif %}{% if contents.project_updates.size > 0 %}
        <span class="update-count"><i class="bullhorn icon"></i> {{ contents.project_updates.size }} update{% if contents.project_updates.size != 1 %}s{% endif %}</span>{% endif %}
      </div>

<!-- item-list -->

<div class="ui divided very relaxed list">

{% for post in contents.posts %}
{% include 'post_list_subitem' with post %}
{% endfor %}
{% for tutorial in contents.tutorials %}
{% include 'tutorial_list_subitem' with tutorial %}
{% endfor %}
{% for project in contents.projects %}
{% include 'project_list_subitem' with project %}
{% endfor %}
{% for update in contents.project_updates %}
{% include 'update_list_subitem' with update %}
{% endfor %}

</div>

<!-- /item-list -->

    </div>
  </div>
</div>

<!-- /tag -->
{% endwith_scope %}
