<!-- entry -->

<div class="item">{% if tutorial.featured %}
  <a href="/featured" class="ui red ribbon label">Featured</a>{% endif %}
  <a href="/tutorials/{{ tutorial._slug }}" class="image" title="{{ tutorial.title | escape }}">{% if tutorial.image %}
    <img src="{{ tutorial.image.url }}" alt="{{ tutorial.title | escape }}" />{% endif %}
  </a>
  <div class="content">
    <a href="/tutorials/{{ tutorial._slug }}" class="header"><h3>{{ tutorial.title | escape }}</h3></a>
    <div class="meta">
{% include 'author_label' with author: tutorial.author %}
      <span class="ui horizontal {% case tutorial.difficulty %}{% when 'Beginner' %}blue{% when 'Intermediate' %}purple{% else %}red{% endcase %} label">{{ tutorial.difficulty | escape }}</span>
      <span class="date"><i class="wait icon"></i> {{ tutorial.created_at | localized_date: '%A, %B %d, %Y' | escape }}</span>{% if tutorial.category %}
      <span class="category"><a href="/categories/{{ tutorial.category._slug }}"><i class="folder open outline icon"></i> {{ tutorial.category.name | escape }}</a></span>{% endif %}
    </div>
    <div class="description">
      <p>{{ tutorial.brief | escape }}</p>
    </div>
    <div class="extra">
{% include 'tags_list' with tags: tutorial.tags, tools: tutorial.tools %}

<!-- part-list -->

<div class="ui divided very relaxed ordered list">
{% for part in tutorial.parts %}
{% include 'tutorial_part_list_item' with part %}
{% endfor %}
</div>

<!-- /part-list -->

    </div>
  </div>
</div>

<!-- /entry -->
