<!-- entry -->

<div class="item">
  <a href="/updates/{{ update._slug }}" class="image" title="{{ update.title | escape }}">{% if update.image %}
    <img src="{{ update.image.url }}" alt="{{ update.title | escape }}" />{% endif %}
  </a>
  <div class="content">
    <a href="/updates/{{ update._slug }}" class="header"><h3>{{ update.title | escape }}</h3></a>
    <div class="meta">
{% include 'author_label' with author: update.author %}
      <span class="date"><i class="wait icon"></i> {{ update.created_at | localized_date: '%A, %B %d, %Y' | escape }}</span>
      <span class="project"><a href="/projects/{{ update.project._slug }}"><i class="lab icon"></i> {{ update.project.name | escape }}</a></span>
    </div>
    <div class="description">
      <p>{{ update.brief | escape }}</p>
    </div>
    <div class="extra">
{% include 'tags_list' with tags: update.tags %}
    </div>
  </div>
</div>

<!-- /entry -->
