---
title: Preview Tutorial
listed: true
published: true
content_type: tutorials
---
{% extends parent %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted green segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/tutorials" class="section">Tutorials</a>
    <div class="divider"> / </div>
    <div class="active section">{{ page.title | escape }}</div>
  </div>
</div>
{% endblock %}

{% block 'body/main' %}
<!-- tutorial -->

<div class="ui green segment">
  <h3>{{ tutorial.brief | escape }}</h3>
  <div class="meta">
{% include 'author_label' with author: tutorial.author %}
    <span class="ui horizontal {% case tutorial.difficulty %}{% when 'Beginner' %}blue{% when 'Intermediate' %}purple{% else %}red{% endcase %} label">{{ tutorial.difficulty | escape }}</span>
    <span class="date"><i class="wait icon"></i> {{ tutorial.created_at | localized_date: '%A, %B %d, %Y' | escape }}</span>{% if tutorial.category %}
    <span class="category"><a href="/categories/{{ tutorial.category._slug }}"><i class="folder open outline icon"></i> {{ tutorial.category.name | escape }}</a></span>{% endif %}{% if tutorial.parts.size == 1 and tutorial.parts.first.allow_comments %}
    <a href="#comments"><i class="comments outline icon"></i> <span class="disqus-comment-count" data-disqus-identifier="/tutorials/parts/{{ tutorial.parts.first._slug }}">Comments</span></a>{% endif %}
  </div>{% if tutorial.image %}
  <div class="large featured-image" style="background-image: url('{{ tutorial.image.url | escape }}');"></div>{% endif %}
  <div class="main-content">
{{ tutorial.description }}
  </div>{% if tutorial.parts and tutorial.parts.size > 1 %}
  <a href="/tutorials/parts/{{ tutorial.parts.first._slug }}" class="small ui green start button">Start <i class="chevron right icon"></i></a>{% endif %}
  <div class="extra">
{% include 'tags_list' with tags: tutorial.tags, tools: tutorial.tools %}
  </div>{% if tutorial.parts.size > 1 %}

<!-- part-list -->

<div class="ui left attached rail">
  <div class="ui ordered vertical steps">{% for part in tutorial.parts %}
    <a href="/tutorials/parts/{{ part._slug }}" class="step">
      <div class="content">
        <span class="title">{{ part.subtitle | escape }}</span><br />
        <span class="description">{{ part.brief | escape }}</span>
      </div>
    </a>{% endfor %}
  </div>
</div>

<!-- /part-list -->

{% elsif tutorial.parts.size == 1 %}

<!-- tutorial-content -->

<div class="content">
  <h4>{{ tutorial.parts.first.subtitle | escape }}</h4>{% if tutorial.parts.first.image %}
  <div class="featured-image" style="background-image: url('{{ tutorial.parts.first.image.url | escape }}');"></div>{% endif %}
{{ tutorial.parts.first.content }}
</div>

<!-- /tutorial-content -->{% endif %}

</div>{% if tutorial.parts.size == 1 %}

<!-- comments -->

<div id="comments" class="ui green segment">{% if tutorial.parts.first.allow_comments %}
{% include 'disqus' with id: '/tutorials/parts/', id2: tutorial.parts.first._slug, category: tutorial.category %}{% else %}
  <p>Comments have been disabled for this tutorial.</p>{% endif %}
</div>{% endif %}

<!-- /comments -->

<!-- /tutorial -->
{% endblock %}
