---
title: Tutorial Parts Feed
listed: false
published: true
content_type: tutorials
response_type: application/rss+xml
---
{% extends 'parent' %}
{% block 'info' %}    <title>{{ site.seo_title | escape }} - Parts for {{ tutorial.title | escape }}</title>
    <description>{{ tutorial.brief | escape }}</description>{% endblock %}

{% block 'items' %}
{% for part in tutorial.parts %}
    <item>
      <title>{{ part.subtitle | escape }}</title>
      <description>{{ part.brief | escape }}</description>
      <link>http://{{ host | escape }}/tutorials/parts/{{ part._slug }}</link>
      <guid isPermaLink="true">http://{{ host | escape }}/tutorials/parts/{{ part._slug }}</guid>
      <pubDate>{{ part.created_at | format_date: '%a, %d %b %Y %H:%M:%S %z' }}</pubDate>{% if tutorial.category %}
      <category>{{ tutorial.category.name | escape }}</category>{% endif %}{% if part.allow_comments %}
      <comments>http://{{ host | escape }}/tutorials/parts/{{ part._slug }}#comments</comments>{% endif %}
    </item>
{% endfor %}
{% endblock %}
