---
title: View Tutorial Part
listed: true
published: true
content_type: tutorial_parts
---
{% extends 'index' %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted green segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/tutorials" class="section">Tutorials</a>
    <div class="divider"> / </div>
    <a href="/tutorials/{{ tutorial_part.tutorial._slug }}" class="section">{{ tutorial_part.tutorial.title | escape }}</a>
    <div class="divider"> / </div>
    <div class="active section">{{ page.title | escape }}</div>
  </div>
</div>
{% endblock %}

{% block 'header' %}
    <i class="book icon"></i>
    <div class="content">
      <div class="header">{{ tutorial_part.tutorial.title | escape }}</div>
      <div class="sub header">{{ tutorial_part.subtitle | escape }}</div>
    </div>
{% endblock %}

{% block 'body/main' %}
<!-- tutorial -->

<div class="ui green stacked segment">
  <h3>{{ tutorial_part.brief | escape }}</h3>
  <div class="meta">
{% include 'author_label' with author: tutorial_part.tutorial.author %}
    <span class="ui horizontal {% case tutorial_part.tutorial.difficulty %}{% when 'Beginner' %}blue{% when 'Intermediate' %}purple{% else %}red{% endcase %} label">{{ tutorial_part.tutorial.difficulty | escape }}</span>
    <span class="date"><i class="wait icon"></i> {{ tutorial_part.created_at | localized_date: '%A, %B %d, %Y' | escape }}</span>{% if tutorial_part.tutorial.category %}
    <span class="category"><a href="/categories/{{ tutorial_part.tutorial.category._slug }}"><i class="folder open outline icon"></i> {{ tutorial_part.tutorial.category.name | escape }}</a></span>{% endif %}{% if tutorial_part.allow_comments %}
    <a href="#comments"><i class="comments outline icon"></i> <span class="disqus-comment-count" data-disqus-identifier="{{ fullpath | escape }}">Comments</span></a>{% endif %}
  </div>{% if tutorial_part.image %}
  <div class="featured-image" style="background-image: url('{{ tutorial_part.image.url | escape }}');"></div>{% endif %}
  <div class="main-content">
{{ tutorial_part.content }}
  </div>
  <div class="extra">
{% include 'tags_list' with tags: tutorial_part.tutorial.tags, tools: tutorial_part.tutorial.tools %}
  </div>

<!-- pagination -->

<div id="pagination">{% for part in tutorial_part.tutorial.parts %}{% if part._slug == tutorial_part._slug %}{% if previous %}
  <a href="/tutorials/parts/{{ tutorial_part.tutorial.parts[previous]._slug }}" class="ui green icon button">
      <i class="left chevron icon"></i>
      Previous
  </a>{% endif %}{% if forloop.index < forloop.length %}
  <a href="/tutorials/parts/{{ tutorial_part.tutorial.parts[forloop.index]._slug }}" class="ui right green icon button">
    Next
    <i class="right chevron icon"></i>
  </a>{% endif %}{% endif %}{% assign previous = forloop.index0 %}{% endfor %}
</div>

<!-- /pagination -->

<!-- part-list -->

<div class="ui left attached rail">
  <div class="ui ordered vertical steps">{% for part in tutorial_part.tutorial.parts %}
    <a href="/tutorials/parts/{{ part._slug }}" class="{% if part._slug == tutorial_part._slug %}active {% endif %}step">
      <div class="content">
        <span class="title">{{ part.subtitle | escape }}</span><br />
        <span class="description">{{ part.brief | escape }}</span>
      </div>
    </a>{% endfor %}
  </div>
</div>

<!-- /part-list -->

</div>

<!-- comments -->

<div id="comments" class="ui green segment">{% if tutorial_part.allow_comments %}
{% include 'disqus' category: tutorial_part.tutorial.category %}{% else %}
  <p>Comments have been disabled for this tutorial.</p>{% endif %}
</div>

<!-- /comments -->

<!-- /tutorial -->
{% endblock %}
