---
title: Project
listed: true
published: true
content_type: projects
---
{% extends parent %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted blue segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/projects" class="section">Projects</a>
    <div class="divider"> / </div>
    <span class="active section">{{ page.title | escape }}</span>
  </div>
</div>
{% endblock %}

{% block 'header' %}{% if project.icon %}
    <img src="{{ project.icon.url | escape }}" alt="{{ project.name | escape }}" class="project-icon" />{% else %}
    <i class="lab icon"></i>{% endif %}
    <div class="content">
      {{ project.name | escape }}
      <span class="ui horizontal {% case project.phase %}{% when 'Prototype' %}purple{% when 'Alpha' %}green{% when 'Beta'%}teal{% else %}blue{% endcase %} label">{{ project.phase | escape }}</span>
    </div>
{% endblock %}

{% block 'body/main' %}{% if project_tab %}{% assign project = project_tab.project %}{% endif %}{% with_scope project: project %}
<!-- project -->

<div class="ui blue stacked segment">
  <h3 class="ui header">
    {{ project.name | escape }}
    <div class="sub header">{{ project.brief | escape }}</div>
  </h3>{% if project.image %}
  <div class="featured-image" style="background-image: url('{{ project.image.url | escape }}');"></div>{% endif %}

<!-- sections -->

<div id="project-tabs" class="ui blue buttons">
  <a href="/projects/{{ project._slug }}" class="ui {% if page.fullpath == 'projects/content-type-template' %}active{% endif %} button">About</a>{% if project.updates.size > 0 %}
  <a href="/projects/updates/{{ project._slug }}" class="ui {% if page.fullpath == 'projects/updates/content-type-template' %}active{% endif %} button">Updates</a>{% endif %}{% if project.donations.size > 0 %}
  <a href="/projects/donations/{{ project._slug }}" class="ui {% if page.fullpath == 'projects/donations/content-type-template' %}active{% endif %} button">Donations</a>{% endif %}{% if project.allow_comments %}
  <a href="#comments" class="ui button">Comments</a>{% endif %}
{% for tab in contents.project_tabs %}
  <a href="/projects/info/{{ tab._slug }}" class="ui {% if page.fullpath == 'projects/info/content-type-template' and page.title == tab.name %}active{% endif %} button">{{ tab.name | escape }}</a>
{% endfor %}
</div>

<!-- /sections -->
{% block 'content' %}{% if project.updates.size > 0 %}

<!-- updates -->

<div class="updates">
  <h4 class="ui header">Latest Updates</h4>
  <div class="ui divided very relaxed list">
{% for update in contents.project_updates %}{% if forloop.index0 < 3 %}
{% include 'update_list_subitem' with update %}
{% endif %}{% endfor %}
  </div>
</div>

<!-- /updates -->{% endif %}

  <div class="main-content">
  <h4 class="ui header">About</h4>
{{ project.content }}
  </div>

<!-- devs -->

<div class="devs">
  <h4 class="ui header">Developers</h4>
  <div class="ui horizontal list">
{% for dev in contents.project_developer_roles %}
    <a href="/devs/{{ dev.author._slug }}" class="ui item">
      <img src="{% if dev.author.avatar_type == 'Gravatar' %}{{ dev.author.email | gravatar_url: 'd:mm' }}{% else %}{{ dev.author.avatar.url | escape }}{% endif %}" class="ui avatar image" alt="{{ dev.author.handle | escape }}" />
      <div class="content">
        {{ dev.author.name | escape }}
        <div class="description">{{ dev.role | escape }}</div>
      </div>
    </a>
{% endfor %}
  </div>
</div>

<!-- /devs -->{% if project.pictures.size > 0 %}

<!-- pictures -->

<!-- /pictures -->{% endif %}

  <div class="extra">
{% include 'tags_list' with tags: project.tags, tools: project.tools %}
  </div>
{% endblock %}
</div>

<div id="comments" class="ui blue segment">{% if project.allow_comments %}
{% include 'disqus' %}{% else %}
  <p>Comments have been disabled for this project.</p>{% endif %}
</div>
<!-- /project -->
{% endwith_scope %}{% endblock %}
