---
title: Project
listed: true
published: true
content_type: projects
---
{% extends 'index' %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted blue segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/projects" class="section">Projects</a>
    <div class="divider"> / </div>
    <span class="active section">{{ page.title | escape }}</span>
  </div>
</div>
{% endblock %}

{% block 'header' %}{% if project.icon %}
    <img src="{{ project.icon.url | escape }}" alt="{{ project.name | escape }}" class="project-icon" />{% else %}
    <i class="lab icon"></i>{% endif %}
    <div class="content">
      {{ project.name | escape }}
    </div>
{% endblock %}

{% block 'body/main' %}
<!-- project -->

<div class="ui blue stacked segment">
  <h3 class="ui header">
    {{ project.name | escape }}
    <div class="sub header">{{ project.brief | escape }}</div>
  </h3>{% if project.image %}
  <div class="featured-image" style="background-image: url('{{ project.image.url | escape }}');"></div>{% endif %}

<!-- sections -->

<div class="ui blue buttons">{% if project.updates.size > 0 %}
  <a href="/projects/updates/{{ project._slug }}" class="ui button">Updates</a>{% endif %}{% if project.donations.size > 0 %}
  <a href="/projects/donations/{{ project._slug }}" class="ui button">Donations</a>{% endif %}{% if project.allow_comments %}
  <a href="#comments" class="ui button">Comments</a>{% endif %}
{% with_scope project: project %}
{% for tab in contents.project_tabs %}
  <a href="/projects/info/{{ tab._slug }}" class="ui button">{{ tab.name | escape }}</a>
{% endfor %}
{% endwith_scope %}
</div>

<!-- /sections -->{% if project.updates.size > 0 %}

<!-- updates -->

<div class="updates">
  <h4 class="ui header">Latest Updates</h4>
  <div class="ui divided very relaxed list">
{% with_scope project: project %}
{% for update in contents.project_updates %}{% if forloop.index0 < 3 %}
{% include 'update_list_subitem' with update %}
{% endif %}{% endfor %}
{% endwith_scope %}
  </div>
</div>

<!-- /updates -->{% endif %}

  <div class="main-content">
  <h4 class="ui header">About</h4>
{{ project.content }}
  </div>
  <div class="extra">
{% include 'tags_list' with tags: project.tags, tools: project.tools %}
  </div>
</div>

<div id="comments" class="ui blue segment">{% if project.allow_comments %}
{% include 'disqus' %}{% else %}
  <p>Comments have been disabled for this project.</p>{% endif %}
</div>

<!-- /project -->
{% endblock %}
