---
title: Project
listed: true
published: true
content_type: projects
---
{% extends parent %}

{% block 'breadcrumbs' %}
{% if params['tab'] %}{% for t in project.tabs %}{% if t._slug == params['tab'] %}{% assign tab = t %}{% endif %}{% endfor %}{% endif %}
<div id="breadcrumbs" class="ui inverted blue segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/projects" class="section">Projects</a>
    <div class="divider"> / </div>{% if tab %}
    <a href="/projects/{{ project._slug }}" class="section">{{ project.name | escape }}</a>
    <div class="divider"> / </div>
    <span class="active section">{{ tab.name | escape }}</span>{% else %}
    <span class="active section">{{ page.title | escape }}</span>{% endif %}
  </div>
</div>
{% endblock %}

{% block 'header' %}
{% if params['tab'] %}{% for t in project.tabs %}{% if t._slug == params['tab'] %}{% assign tab = t %}{% endif %}{% endfor %}{% endif %}{% if project.icon %}
    <img src="{{ project.icon.url | escape }}" alt="{{ project.name | escape }}" class="project-icon" />{% else %}
    <i class="lab icon"></i>{% endif %}
    <div class="content">
      {{ project.name | escape }}
      <span class="ui horizontal {% case project.phase %}{% when 'Prototype' %}purple{% when 'Alpha' %}green{% when 'Beta'%}teal{% else %}blue{% endcase %} label">{{ project.phase | escape }}</span>{% if tab %}
      <div class="sub header">{{ tab.name | escape }}</div>{% endif %}
    </div>
{% endblock %}

{% block 'body/main' %}
{% if params['tab'] %}{% for t in project.tabs %}{% if t._slug == params['tab'] %}{% assign tab = t %}{% endif %}{% endfor %}{% endif %}
<!-- project -->

<div id="project-tabs" class="ui blue buttons top attached">
  <a href="/projects/{{ project._slug }}" class="ui {% if page.fullpath == 'projects/content-type-template' and tab == nil %}active{% endif %} button">About</a>{% if project.updates.size > 0 %}
  <a href="/projects/{{ project._slug }}/updates" class="ui {% if page.fullpath == 'projects/content-type-template/updates' %}active{% endif %} button">Updates</a>{% endif %}{% if project.donations.size > 0 %}
  <a href="/projects/{{ project._slug }}/donations" class="ui {% if page.fullpath == 'projects/content-type-template/donations' %}active{% endif %} button">Donations</a>{% endif %}{% if project.allow_comments %}
  <a href="#comments" class="ui button">Comments</a>{% endif %}
{% for t in project.tabs %}
  <a href="/projects/{{ project._slug }}?tab={{ t._slug }}" class="ui {% if tab and tab._slug == t._slug %}active{% endif %} button">{{ t.name | escape }}</a>
{% endfor %}
</div>

<div class="ui blue stacked attached segment">
  <h3 class="ui header">
    {{ project.name | escape }}
    <div class="sub header">{{ project.brief | escape }}</div>
  </h3>{% if project.image %}
  <div class="featured-image" style="background-image: url('{{ project.image.url | escape }}');"></div>{% endif %}

{% block 'content' %}
<div class="ui grid">{% if project.updates.size > 0 %}

<!-- updates -->

<div class="updates ten wide column">
  <h4 class="ui header">Latest Updates</h4>
  <div class="ui divided very relaxed list">
{% for update in project.updates %}{% if forloop.index0 < 3 %}
{% include 'update_list_subitem' with update %}
{% endif %}{% endfor %}
  </div>
</div>

<!-- /updates -->{% endif %}{% if project.links.size > 0 %}

<!-- links -->

<div class="links six wide column">
  <h4 class="ui header">Links</h4>
  <div class="ui divided list">
{% for link in project.links %}
    <a href="{{ link.url | escape }}" class="item">
      <i class="{% if link.icon %}{{ link.icon | escape }}{% else %}linkify{% endif %} icon"></i>
      {{ link.name | escape }}
    </a>
{% endfor %}
  </div>
</div>

<!-- /links -->{% endif %}

</div>

  <div class="main-content">
  <h4 class="ui header">{% if tab %}{{ tab.name | escape }}{% else %}About{% endif %}</h4>
{% if tab %}{{ tab.content }}{% else %}{{ project.content }}{% endif %}
  </div>

<!-- devs -->

<div class="devs">
  <h4 class="ui header">Developers</h4>
  <div class="ui horizontal list">
{% for dev in project.developers %}
    <a href="/devs/{{ dev.author._slug }}" class="ui item">
      <img src="{% if dev.author.avatar_type == 'Gravatar' %}{{ dev.author.email | gravatar_url: 'd:mm' }}{% else %}{{ dev.author.avatar.url | escape }}{% endif %}" class="ui avatar image" alt="{{ dev.author.handle | escape }}" />
      <div class="content">
        {{ dev.author.name | escape }}
        <div class="description">{{ dev.role | escape }}</div>
      </div>
    </a>
{% endfor %}
  </div>
</div>

<!-- /devs -->{% if project.pictures.size > 0 %}

<!-- pictures -->

<!-- /pictures -->{% endif %}

  <div class="extra">
{% include 'tags_list' with tags: project.tags, tools: project.tools %}
  </div>
{% endblock %}
</div>

<div id="comments" class="ui blue segment">{% if project.allow_comments %}
{% include 'disqus' with id: '/projects/', id2: project._slug %}{% else %}
  <p>Comments have been disabled for this project.</p>{% endif %}
</div>
<!-- /project -->
{% endblock %}
