---
title: View Category
listed: true
published: true
content_type: categories
---
{% extends parent %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted yellow segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/categories" class="section">Categories</a>
    <div class="divider"> / </div>
    <div class="active section">{{ page.title | escape }}</div>
  </div>
</div>
{% endblock %}

{% block 'body/main' %}
<!-- category -->

<div class="ui yellow segment">
  <div class="ui divided items">
    <div class="item">
      <a href="/categories/{{ category._slug }}" class="image" title="{{ category.name | escape }}">{% if category.image %}
        <img src="{{ category.image.url }}" alt="{{ category.name | escape }}" />{% endif %}
      </a>
      <div class="content">
        <a href="/categories/{{ category._slug }}" class="header"><h3>{{ category.name | escape }}</h3></a>
        <div class="meta">{% if category.posts.size > 0 %}
          <span class="post-count"><i class="newspaper icon"></i> {{ category.posts.size }} post{% if category.posts.size != 1 %}s{% endif %}</span>{% endif %}{% if category.tutorials.size > 0 %}
          <span class="tutorial-count"><i class="book icon"></i> {{ category.tutorials.size }} tutorial{% if category.tutorials.size != 1 %}s{% endif %}</span>{% endif %}
        </div>
        <div class="description">
          <p>{{ category.brief | escape }}</p>
        </div>
        <div class="extra">

<!-- item-list -->

<div class="ui divided very relaxed list">

{% for post in category.posts %}
{% include 'post_list_subitem' with post %}
{% endfor %}
{% for tutorial in category.tutorials %}
{% include 'tutorial_list_subitem' with tutorial %}
{% endfor %}

</div>

<!-- /item-list -->

        </div>
      </div>
    </div>
  </div>
</div>

<!-- /category -->
{% endblock %}
