---
title: View Update
listed: true
published: true
content_type: project_updates
---
{% extends parent %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted red segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/projects" class="section">Projects</a>
    <div class="divider"> / </div>
    <a href="/projects/{{ project_update.project._slug}}" class="section">{{ project_update.project.name | escape }}</a>
    <div class="divider"> / </div>
    <a href="/projects/{{ project_update.project._slug }}/updates" class="section">Updates</a>
    <div class="divider"> / </div>
    <div class="active section">{{ page.title | escape }}</div>
  </div>
</div>
{% endblock %}

{% block 'body/main' %}
<!-- update -->

<div class="ui red segment">
  <h3>{{ project_update.brief | escape }}</h3>
  <div class="meta">
{% include 'author_label' with author: project_update.author %}
    <span class="date"><i class="wait icon"></i> {{ project_update.created_at | localized_date: '%A, %B %d, %Y' | escape }}</span>
    <span class="project"><a href="/projects/{{ project_update.project._slug }}"><i class="lab icon"></i> {{ project_update.project.name | escape }}</a></span>{% if project_update.allow_comments %}
    <a href="#comments"><i class="comments outline icon"></i> <span class="disqus-comment-count" data-disqus-identifier="{{ fullpath | escape }}">Comments</span></a>{% endif %}
  </div>{% if project_update.image %}
  <div class="featured-image" style="background-image: url('{{ project_update.image.url | escape }}');"></div>{% endif %}
  <div class="main-content">
{{ project_update.content }}
  </div>
  <div class="extra">
{% include 'tags_list' with tags: project_update.tags %}
  </div>
</div>

<div id="comments" class="ui red segment">{% if project_update.allow_comments %}
{% include 'disqus' %}{% else %}
  <p>Comments have been disabled for this post.</p>{% endif %}
</div>

<!-- /update -->
{% endblock %}
