---
title: View Post
listed: true
published: true
content_type: posts
---
{% extends parent %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted teal segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/posts" class="section">Posts</a>
    <div class="divider"> / </div>
    <div class="active section">{{ page.title | escape }}</div>
  </div>
</div>
{% endblock %}

{% block 'body/main' %}
<!-- post -->

<div class="ui teal segment">
  <h3>{{ post.brief | escape }}</h3>
  <div class="meta">
{% include 'author_label' with author: post.author %}
    <span class="date"><i class="wait icon"></i> {{ post.created_at | localized_date: '%A, %B %d, %Y' | escape }}</span>{% if post.category %}
    <span class="category"><a href="/categories/{{ post.category._slug }}"><i class="folder open outline icon"></i> {{ post.category.name | escape }}</a></span>{% endif %}{% if post.allow_comments %}
    <a href="#comments"><i class="comments outline icon"></i> <span class="disqus-comment-count" data-disqus-identifier="{{ fullpath | escape }}">Comments</span></a>{% endif %}
  </div>{% if post.image %}
  <div class="featured-image" style="background-image: url('{{ post.image.url | escape }}');"></div>{% endif %}
  <div class="main-content">
{{ post.content }}
  </div>
  <div class="extra">
{% include 'tags_list' with tags: post.tags, tools: post.tools %}
  </div>
</div>

<div id="comments" class="ui teal segment">{% if post.allow_comments %}
{% include 'disqus' with category: post.category %}{% else %}
  <p>Comments have been disabled for this post.</p>{% endif %}
</div>

<!-- /post -->
{% endblock %}
