---
title: Info
listed: true
published: true
content_type: project_tabs
---
{% extends 'projects/content-type-template' %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted blue segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/projects" class="section">Projects</a>
    <div class="divider"> / </div>
    <a href="/projects/{{ project_tab.project._slug }}" class="section">{{ project_tab.project.name | escape }}</a>
    <div class="divider"> / </div>
    <span class="active section">{{ project_tab.name | escape }}</span>
  </div>
</div>
{% endblock %}

{% block 'header' %}{% if project_tab.project.icon %}
    <img src="{{ project_tab.project.icon.url | escape }}" alt="{{ project_tab.project.name | escape }}" class="project-icon" />{% else %}
    <i class="lab icon"></i>{% endif %}
    <div class="content">
      {{ project_tab.project.name | escape }}
      <span class="ui horizontal {% case project_tab.project.phase %}{% when 'Prototype' %}purple{% when 'Alpha' %}green{% when 'Beta'%}teal{% else %}blue{% endcase %} label">{{ project_tab.project.phase | escape }}</span>
      <div class="sub header">{{ project_tab.name | escape }}</div>
    </div>
{% endblock %}

{% block 'body/main/content' %}
<div class="main-content">
  <h4 class="ui header">{{ project_tab.name | escape }}</h4>
  {{ project_tab.content }}
</div>
{% endblock %}
