---
title: Dev Profile
listed: true
published: true
content_type: authors
---
{% extends parent %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted red segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/devs" class="section">Developers</a>
    <div class="divider"> / </div>
    <span class="active section">{{ page.title | escape }}</span>
  </div>
</div>
{% endblock %}

{% block 'header' %}
    <img src="{% if author.avatar_type == 'Gravatar' %}{{ author.email | gravatar_url: 'd:mm', 's:60' | escape }}{% else %}{{ author.avatar | resize: '60x60#' | escape }}{% endif %}" class="dev-icon" />
    <div class="content">
      {{ author.name | escape }}
      <span class="meta"><i class="at icon"></i> {{ author.handle | escape }}</span>
    </div>
{% endblock %}

{% block 'body/main' %}
<!-- dev -->

<div class="ui red segment">

<div class="right floated left aligned column">

<!-- avatar -->

<img src="{% if author.avatar_type == 'Gravatar' %}{{ author.email | gravatar_url: 'd:mm', 's:150' | escape }}{% else %}{{ author.avatar | resize: '150x150#' | escape }}{% endif %}" class="ui small avatar image" />

<!-- /avatar -->{% if author.links.size > 0 %}

<!-- links -->

<div id="links">
  <h4 class="ui header">Links</h4>
  <div class="ui divided list">
{% for link in author.links %}
    <a href="{{ link.url | escape }}" class="item">
      <i class="{% if link.icon %}{{ link.icon | escape }}{% else %}linkify{% endif %} icon"></i>
      {{ link.name | escape }}
    </a>
{% endfor %}
  </div>
</div>

<!-- /links -->{% endif %}

  </div>

  <div class="main-content">
{{ author.content }}
  </div>
  <div class="extra">
{% include 'tags_list' with tools: author.tools %}
  </div>

<!-- roles -->

<div id="roles">
  <h4 class="ui header">Project Roles</h4>
  <div class="ui horizontal list">
{% for role in author.roles %}
    <a href="/projects/{{ role.project._slug }}" class="ui item">{% if role.project.icon %}
      <img src="{{ role.project.icon | resize: '35x35#' | escape }}" alt="{{ role.project.name | escape }}" class="project-icon ui image" />{% else %}
      <i class="lab icon"></i>{% endif %}
      <div class="content">
        {{ role.project.name | escape }}
        <div class="description">{{ role.role | escape }}</div>
      </div>
    </a>
{% endfor %}
  </div>
</div>

<!-- /roles -->

  <div class="ui stackable grid">
    <div class="eight wide column">{% if author.updates.size > 0 %}

<!-- updates -->

<div id="updates">
  <h4 class="ui header">Latest Updates</h4>
  <div class="ui divided very relaxed list">
{% for update in author.updates %}{% if forloop.index0 < 3 %}
{% include 'update_list_subitem' with update %}
{% endif %}{% endfor %}
  </div>
  <a href="/devs/{{ author._slug }}/updates"><i class="angle double right icon"></i> View all ({{ author.updates.size }})</a>
</div>

<!-- /updates -->{% endif %}{% if author.tutorials.size > 0 %}

<!-- tutorials -->

<div id="tutorials">
  <h4 class="ui header">Latest Tutorials</h4>
  <div class="ui divided very relaxed list">
{% for tutorial in author.tutorials %}{% if forloop.index0 < 3 %}
{% include 'tutorial_list_subitem' with tutorial %}
{% endif %}{% endfor %}
  </div>
  <a href="/devs/{{ author._slug }}/tutorials"><i class="angle double right icon"></i> View all ({{ author.tutorials.size }})</a>
</div>

<!-- /tutorials -->{% endif %}

    </div>
    <div class="eight wide column">{% if author.posts.size > 0 %}

<!-- posts -->

<div id="posts">
  <h4 class="ui header">Latest Posts</h4>
  <div class="ui divided very relaxed list">
{% for post in author.posts %}{% if forloop.index0 < 5 %}
{% include 'post_list_subitem' with post %}
{% endif %}{% endfor %}
  </div>
  <a href="/devs/{{ author._slug }}/posts"><i class="angle double right icon"></i> View all ({{ author.posts.size }})</a>
</div>

<!-- /posts -->{% endif %}

  </div>
</div>

<!-- /dev -->
{% endblock %}
